@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  z-index: 3;
}

/* .nav-item, */
.navbar {
  z-index: 2;
}

@media screen and (max-width:800px) {
  .sidebar {
    z-index: 4;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 4 !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
